@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using MusicSmash.Components.Sub_Components

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Login />

@code
{
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}