@using MusicSmash.Components.Sub_Components
@inherits LayoutComponentBase

<header class="d-flex justify-content-between align-items-center py-3">
    <p class="fs-1">MusicMatch</p>
    <Login />
</header>