@using System.Web
@inherits ComponentBase
@inject IConfiguration configuration

<a href="@SpotifyLoginUri">Login</a>



@code 
{
    public string SpotifyLoginUri { get; set; }

    private Dictionary<string, string> queryParameters =new Dictionary<string, string>()
        {
            {"client_id", ""},
            {"response_type", "code"},
            {"redirect_uri", ""},
            {"scope", ""}
        };

    protected override void OnInitialized()
    {
        SpotifyLoginUri = "https://accounts.spotify.com/authorize?";

        queryParameters["client_id"] = configuration["spotify:client-id"];
        queryParameters["scope"] = "user-read-private";
        queryParameters["redirect_uri"] = "https://localhost:7083/callback";

        foreach(var keyValue in queryParameters)
        {
            SpotifyLoginUri += $"{keyValue.Key}={HttpUtility.UrlEncode(keyValue.Value)}&";
        }

        base.OnInitialized();
    }
}
