@using MusicSmash.Models
@inherits ComponentBase

<div class="row">
    <div class="col text-center bg-warning column">
        <div class="d-flex flex-column">
            <div class="album-cover" @onclick="() => OnVote(LeftAlbum)">
                <img src="@LeftAlbum.Cover" alt="@LeftAlbum.Name" />
            </div>
        </div>
    </div>
    <div class="col-3 text-center bg-info">
        <div class="d-flex flex-column">
            <p class="fs-1">VS</p>
        </div>
    </div>
    <div class="col text-center bg-warning">
        <div class="d-flex flex-column">
            <div class="album-cover" @onclick="() => OnVote(RightAlbum)">
                <img src="@RightAlbum.Cover" alt="@RightAlbum.Name" />
            </div>
        </div>
    </div>
</div>

@code 
{
    [Parameter] public Album LeftAlbum { get; set; }
    [Parameter] public Album RightAlbum { get; set; }
    [Parameter] public Action<Album> OnVote { get; set; }
}