@using MusicSmash.Models
@inherits ComponentBase

@* Show the 2 albums, it should suggest the user to pick his favourite, it all should have a spotify feel and look *@
@* The user should be able to click on the album cover to listen to the album on spotify *@
@* The backroun should be full green green and full black respectively on the left nad on the right *@



<div class="album-card">
    <div class="album-cover" @onclick="() => OnVote(LeftAlbum)">
        <img src="@LeftAlbum.Cover" alt="@LeftAlbum.Name" />
    </div>
    <div class="vs-text">VS</div>
    <div class="album-cover" @onclick="() => OnVote(RightAlbum)">
        <img src="@RightAlbum.Cover" alt="@RightAlbum.Name" />
    </div>
</div>

@code 
{
    [Parameter] public Album LeftAlbum { get; set; }
    [Parameter] public Album RightAlbum { get; set; }
    [Parameter] public Action<Album> OnVote { get; set; }
}

<style>
      .album-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        width: 100%;
        flex: 1 1 auto;
        background-color: #121212;
        border-radius: 10px;
    }
    .album-cover {
        width: 150px;
        height: 150px;
        border-radius: 10px;
    }
    .album-cover img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border-color: #1DB954;
    }
    .vs-text {
        font-size: 4rem;
        font-weight: bold;
        color: #1DB954;
    }
    .vote-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 200px;
    }
    .btn {
        width: 90px;
        height: 60px;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 10px;
        border: none;
        color: white;
    }
    .btn-hot {
        background-color: #1DB954;
    }
    .btn-hot:hover {
        background-color: #1ED760;
    }
    .btn-not {
        background-color: #121212;
    }
    .btn-not:hover {
        background-color: #282828;
    }
</style>